<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Goat Gallery</title>
        <!-- BOOTSTRAP -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <!-- BOOTSTRAP THEME -->
 <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">

<link rel="stylesheet" href="{{ url_for('static', filename= 'gallery.css') }}">
    </head>
    <body>
        <div class="container">

          <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Game Gallery</h1>
    <a href="/about">Demo User</a>
          <hr class="mt-2 mb-5">

          <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/anthem.jpeg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/apexlegends.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/borderlands3.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/codmw.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/daysgone.jpeg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/DMC5_Base_game.png" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/dstranding.jpeg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/mk11.jpeg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/outerworlds.jpg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/starwars.jpeg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/sekiro.jpeg" alt="">
                  </a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
              <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/thedvs2.jpg" alt="">
                  </a>
            </div>
          </div>

        </div>
        <!-- /.container -->
    </body>
</html>
