<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gamer Pro</title>
<link rel="stylesheet" href="{{ url_for('static', filename= 'profile.css') }}">
</head>
<body>
<div>
	<svg class="Path_1" viewBox="0 0 1920 128">
		<path fill="rgba(0,0,0,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_1" d="M 0 0 L 1920 0 L 1920 128 L 0 128 L 0 0 Z">
		</path>
	</svg>
	<div id="Gamer_Pro">
		<span>Gamer Pro</span>
	</div>
	<svg class="Ellipse_1">
		<ellipse fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_1" rx="29.5" ry="28" cx="29.5" cy="28">
		</ellipse>
	</svg>
	<div id="Username">
		<span>Username</span>
	</div>
	<svg class="Ellipse_2">
		<ellipse fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Ellipse_2" rx="231" ry="227" cx="231" cy="227">
		</ellipse>
	</svg>
	<div id="Welcome_to_Username_s_Profile">
		<span>Welcome to Username’s Profile</span>
	</div>
	<svg class="Rectangle_1">
		<rect fill="rgba(255,255,255,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="216" height="54">
		</rect>
	</svg>
	<div id="follow">
		<span>follow</span>
	</div>
	<div id="Username_s_Public_Playlists">
		<span>Username’s Public Playlists</span>
	</div>
	<div id="Favorite_games_from_2018">
		<span>Favorite games from 2018</span>
	</div>
	<div id="_Favorite_games_from_2019">
		<span> Favorite games from 2019</span>
	</div>
	<div id="Favorite_PS4_Games">
		<span>Favorite PS4 Games</span>
	</div>
	<div id="Favorite_PC_Games">
		<span>Favorite PC Games</span>
	</div>
	<div id="Return">
		<a href="/"><span>Return</span></a>
	</div>
</div>
</body>
</html>
